<div id="community-popup-builder"></div>
<div id="community-popup-box">
  <img id="community-popup-close" src="/assets/img/close-2.png" />
  <div id="community-popup-box-content">
    <h1 class="centered">Join the 3D Academy community</h1>
    <p>
      Stay up to date on the latest in our events, workshops and more, plus receive exclusive
      <strong>discounts</strong> by subscribing to our community.
    </p>
    <form id="community-popup-form" action="return false;">
      <input id="community-popup-form-name" type="text" name="name" placeholder="Name" required />
      <br />
      <input
        id="community-popup-form-surname"
        type="text"
        name="surname"
        placeholder="Surname"
        required
      />
      <br />
      <input
        id="community-popup-form-email"
        type="text"
        name="email"
        placeholder="Email"
        required
      />
      <br />
      <input
        id="community-popup-form-test"
        type="text"
        name="test"
        placeholder="HOLA MATTEO!!!"
        required
      />
      <br />
      <input
        id="community-popup-form-test2"
        type="text"
        name="test2"
        placeholder="Another input for you!"
        required
      />
      <br />
      <div class="righty">
        <button id="community-popup-form-subscribe" class="btn" type="button" name="subscribe">
          Subscribe
        </button>
      </div>
      <img src="../../assets/img/background-fashion-3.jpg" width="200px" />
    </form>
  </div>
</div>
