
#custom-nav-li a {
	color: #000 !important;
	border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}

#custom-nav-li a:hover {
	border-bottom-color: #000 !important;
}

#social-list-item-a {
	color: #000 !important;
	border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}

#social-list-item-a:hover {
	border-bottom-color: #000 !important;
}

#project-card-a {
	color: #000 !important;
	border-bottom-color: rgba(0, 0, 0, 0.2) !important;
}

#project-card-a:hover {
	border-bottom-color: #000 !important;
}

#project-card-img {
	margin: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	background-color: var(--gray-bg);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/background-transparent-1.png') !important;
}

#sidebar-about {
	margin-bottom: 3.5rem !important;
}

#sidebar-avatar {
	margin-bottom: 0rem !important;
	width: 100% !important;
	height: 100% !important;
	border-radius: 0% !important;
}

#sidebar-nav {
	margin-bottom: 3.5rem !important;
}

#_sidebar {
	color: rgba(0, 0, 0, .75) !important;
}

.layout-project #workshop-span-symbol {
	float: right;
	color: var(--menu-text);
	margin-top: 4px;
	margin-left: .5rem;
}

.layout-project #workshop-section-custom {
	width: 100%;
}

.justified {
	text-align: justify;
	text-justify: inter-word;
}

#workshop-pricing-custom {
	font-weight: bold;
	font-size: 24pt;
}

#workshop-content-title-custom {
	margin-top: 0.5rem;
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 1rem;
}
